.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

.LedContainer {
  display: block;
  margin: 30px 0 30px 0;  
}

.Information {
  display: inline-block;
  margin: 0 20px 0 20px;
}

.Form {
  margin: 10px;
}

.radio {
  display: inline-block;
  margin : 10px;
}